* {
    box-sizing: border-box;
    margin: 0;
    /*border: .5px dashed pink;*/
    padding: 0;
    font-family: Lato, sans-serif;
    font-size: 16px;
}

.absolute {
    position: absolute;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-below {
    position: absolute;
    bottom: -1.5rem;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-left {
    position: absolute;
    left: 0;
}

address {
    font-style: normal;
}

.align-end {
    align-items: end;
}

.aspect-square {
    aspect-ratio: 1/1;
}

.aspect-widescreen {
    aspect-ratio: 16/9;
}

.bar-x {
    display: block;
    background-color: white;
    width: 100%;
    height: 2px;
}

.bar-y {
    display: block;
    background-color: white;
    width: 1px;
    height: 100%;
}

.bg-center {
    background-position: center;
    background-size: cover;
}

.bg-antique {
    background-color: #f2e3ce;
}

.bg-blue {
    background-color: #5299cb;
}

.bg-football {
    background-color: #527b42;
}

.bg-milson {
    background-color: #4caa9c;
}

.bg-opaque {
    background-color: rgba(255, 255, 255, .3);
}

.bg-orange {
    background-color: #ff4600;
}

.bg-red {
    background-color: #d82737;
}

.bg-smw {
    background-color: #f13d52;
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: white;
}

.bold {
    font-weight: 700;
}

.border-rounded {
    border-radius: 1rem;
}

.border-white {
    border: 1px solid white;
}

.break-xs {
    margin-bottom: .25rem;
}

.break-sm {
    margin-bottom: .5rem;
}

.break {
    margin-bottom: 1rem;
}

.btn {
    transition: 100ms;
    border: none;
    border-radius: .75rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.btn-mockup {
    border: 2px solid white;
    border-radius: .5rem;
    background-color: transparent;
    text-transform: uppercase;
    padding: .5rem 1rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.carousel {
    display: flex;
    justify-content: start;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.decoration-none {
    text-decoration: none;
}

.double-top {
    margin-top: 2rem;
}

.double-bottom {
    margin-bottom: 2rem;
}

.filter {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.fixed {
    position: fixed;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-start {
    display: flex;
    align-items: start;
}

.font-outline-black {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .1rem black;
    text-shadow: .2rem .2rem 0 black;
}

.font-outline-red {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .1rem #d82737;
    text-shadow: .2rem .2rem 0 #d82737;
}

.font-outline-hours {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .1rem #5399cb;
    text-shadow: .2rem .2rem 0 #5399cb;
}

.font-outline-map {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .1rem #a4adde;
    text-shadow: .2rem .2rem 0 #a4adde;
}

.font-outline-questions {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .1rem #d72439;
    text-shadow: .2rem .2rem 0 #d72439;
}

.font-outline-mail {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: .1rem #fcce0c;
    text-shadow: .2rem .2rem 0 #fcce0c;
}

.font-md {
    font-size: 1.5rem;
}

.font-lg {
    font-size: 2rem;
}

.font-xl {
    font-size: 2.5rem;
}

.h-fit {
    height: fit-content;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100dvh;
}

.heading-img {
    height: 5rem;
}

.hidden {
    display: none;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.link:hover,
.link:focus {
    color: #66bfff;
}

.link:active {
    color: #5cace6;
}

.margin-zero {
    margin: 0;
}

.margin {
    margin: 1rem;
}

.margin-sm {
    margin: .5rem
}

.margin-auto {
    margin: 0 auto;
}

.margin-top {
    margin-top: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

.margin-x {
    margin: 0 1rem;
}

.margin-y {
    margin: 1rem 0;
}

.max-xs {
    max-width: 475px;
}

.max-sm {
    max-width: 640px;
}

.max-md {
    max-width: 768px;
}

.max-lg {
    max-width: 1024px;
}

.object-contain {
    object-fit: cover;
}

.padding {
    padding: 1rem;
}

.padding-sm {
    padding: .5rem;
}

.padding-top {
    padding-top: 1rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.padding-x {
    padding: 0 1rem;
}

.padding-y-sm {
    padding: .5rem 0;
}

.padding-y {
    padding: 1rem 0;
}

.relative {
    position: relative;
}

.rounded {
    border-radius: .75rem;
}

.rounded-top {
    border-radius: .75rem .75rem 0 0;
}

.rounded-bottom {
    border-radius: 0  0 .75rem .75rem;
}

.space {
    margin-right: .5rem;
}

.space-end {
    margin-right: .5rem;
}

.space-xs {
    margin-left: .25rem
}

.space-sm {
    margin-left: .5rem
}

.space-start {
    margin-left: .5rem;
}

.sticky {
    position: sticky;
    top: 0;
}

.svg-btn {
    fill: white;
}

.svg-btn:hover,
.svg-btn:focus {
    fill: #66bfff;
}

.svg-btn:active {
    fill: #5cace6;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-black {
    color: black;
}

.text-blue {
    color: #5299cb;
}

.text-orange {
    color: #ff4600;
}

.text-red {
    color: #d82737;
}

.text-white {
    color: #ffffff;
}

.transition-500 {
    transition: 500ms;
    transition-timing-function: ease-in-out;
}

ul {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.w-half {
    width: 50%;
}

.w-third {
    width: 33.3%;
}

.w-full {
    width: 100%
}

@media screen and (min-width: 475px) {
    .hide-xs {
        display: none;
    }

    .show-xs {
        display: flex;
    }
}

@media screen and (min-width: 640px) {
    .hide-sm {
        display: none;
    }

    .flex-sm {
        display: flex;
    }

    .show-sm {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .hide-md {
        display: none;
    }

    .flex-md {
        display: flex;
    }
}