@font-face {
    font-family: "XpressRounded";
    src: url(../fonts/XpressRounded-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "XpressRoundedLight";
    src: url(../fonts/XpressRounded-Light.ttf) format("truetype");
}

@font-face {
    font-family: "XpressRoundedBold";
    src: url(../fonts/XpressRounded-Bold.ttf) format("truetype");
}

@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-50%);}
}

* {
    box-sizing: border-box;
    margin: 0;
    /*border: .5px dashed pink;*/
    padding: 0;
    font-family: Lato, sans-serif;
    font-size: 16px;
}

.absolute {
    position: absolute;
}

.absolute-below {
    position: absolute;
    bottom: -.9rem;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.active-text-red:active {
    color: #d82737 !important;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.aspect-landscape {
    aspect-ratio: 5/4;
}

.aspect-panorama {
    aspect-ratio: 2/1;
}

.aspect-portrait {
    aspect-ratio: 4/5;
}

.aspect-square {
    aspect-ratio: 1/1;
}

.aspect-widescreen {
    aspect-ratio: 16/9;
}

.bg-center {
    background-position: center;
    background-size: cover;
}

.bg-red {
    background-color: #d82737;
}

.bg-opaque {
    background-color: rgba(255, 255, 255, .25);
}

.bg-transparent {
    background-color: transparent;
}

.black {
    font-weight: 900;
}

.bold {
    font-weight: 700;
}

.break {
    margin-bottom: 1rem;
}

.break-double {
    margin-bottom: 2rem;
}

.border {
    border-width: 1px;
    border-style: solid;
}

.border-black {
    border-color: black !important;
}

.border-none {
    border: none;
}

.border-thick {
    border-width: 2px;
    border-style: solid;
}

.border-white {
    border-color: white !important;
}

.btn {
    border-width: 2px;
    border-style: solid;
    padding: 1rem 2rem;
}

.btn-sm {
    border-width: 2px;
    border-style: solid;
    padding: .5rem 1rem;
}

.compress-lg {
    letter-spacing: -2px;
}

.compress-xl {
    letter-spacing: -3px;.carousel-slide {
        aspect-ratio: 5/4;
    }
}

.compress-xxl {
    letter-spacing: -4px;
}

.container:hover .bg-img {
    transform: scale(1.1);
}

.decoration-none {
    text-decoration: none;
}

.fill-space {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.font-xpress {
    font-family: "XpressRounded", Lato, sans-serif;
}

.font-xpress-bold {
    font-family: "XpressRoundedBold", Lato, sans-serif;
}

.font-xpress-light {
    font-family: "XpressRoundedLight", Lato, sans-serif;
}

.font-xs {
    font-size: .25rem;
}

.font-sm {
    font-size: .5rem;
}

.font-md {
    font-size: 1.5rem;
}

.font-lg {
    font-size: 2rem;
}

.font-xl {
    font-size: 2.5rem;
}

.font-xxl {
    font-size: 3rem;
}

.h-fit {
    height: fit-content;
}

.h-full {
    height: 100%;
}

.h-half {
    height: 50%;
}

.h-screen {
    height: 100dvh;
}

.h-third {
    height: 33.3%;
}

.hidden {
    display: none;
}

.hover-bg-white:hover {
    background-color: white;
}

.hover-text-black:hover {
    color: black;
}

.margin {
    margin: 1rem;
}

.margin-auto {
    margin: auto;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-x {
    margin-left: 1rem;
    margin-right: 1rem;
}

.margin-xxy {
    margin: 1rem 2rem;
}

.margin-xyy {
    margin: 2rem 1rem;
}

.margin-y {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.max-h-half-screen {
    max-height: 50dvh;
}

.max-w-xxs {
    max-width: 394px;
}

.max-w-xs {
    max-width: 475px;
}

.max-w-sm {
    max-width: 640px;
}

.max-w-md {
    max-width: 768px;
}

.max-w-lg {
    max-width: 1024px;
}

.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}

.outline-black {
    -webkit-text-stroke: 2px black;
}

.outline-blue {
    -webkit-text-stroke: 2px #5399cb;
    text-shadow: 4px 4px 0 #5399cb;
}

.outline-green {
    -webkit-text-stroke: 2px #2db65e;
    text-shadow: 4px 4px 0 #2db65e;
}

.outline-purple {
    -webkit-text-stroke: 2px #a4adde;
    text-shadow: 4px 4px 0 #a4adde;
}

.outline-red {
    -webkit-text-stroke: 2px #d82737;
}

.outline-yellow {
    -webkit-text-stroke: 2px #fcce0c;
    text-shadow: 4px 4px 0 #fcce0c;
}

.overflow-hidden {
    overflow: hidden;
}

.padding-xs {
    padding: .25rem;
}

.padding {
    padding: 1rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.padding-left {
    padding-left: 1rem;
}

.padding-right {
    padding-right: 1rem;
}

.padding-sm {
    padding: .5rem;
}

.padding-top {
    padding-top: 1rem;
}

.padding-x {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-xxy {
    padding: 1rem 2rem;
}

.padding-xyy {
    padding: 2rem 1rem;
}

.padding-y {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.rounded {
    border-radius: 1rem;
}

.rounded-bottom {
    border-radius: 0  0 1rem 1rem;
}

.rounded-sm {
    border-radius: .5rem;
}

.rounded-top {
    border-radius: 1rem 1rem 0 0;
}

.scrollbar-hidden {
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.space-xs {
    margin-right: .25rem;
}

.space-sm {
    margin-right: .5rem;
}

.space {
    margin-right: 1rem;
}

.space-md {
    margin-right: 1.5rem;
}

.space-lg {
    margin-right: 2rem;
}

.tab-xs {
    margin-left: .25rem;
}

.tab-sm {
    margin-left: .5rem;
}

.tab {
    margin-left: 1rem;
}

.tab-md {
    margin-left: 1.5rem;
}

.tab-lg {
    margin-left: 2rem;
}

.text-inherit {
    color: inherit;
}

.text-shadow {
    text-shadow: 2px 2px 0 black;
}

.text-shadow-red {
    text-shadow: 2px 2px 0 #d82737;
}

.text-white {
    color: white;
}

.ticker-scroll {
    width: fit-content;
    white-space: nowrap;
    animation: loop 30s linear infinite;
}

.ticker-wrapper {
    background-image: url(../images/mockup/ticker-bg.jpg);
    background-size: contain;
    padding: .5rem 0;
    overflow: hidden;
}

.transition-500 {
    transition: 500ms;
}

.uppercase {
    text-transform: uppercase;
}

.w-fit {
    width: fit-content;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.w-screen {
    width: 100dvw;
}

.w-third {
    width: 33.3%;
}