.carousel-wrapper {
    width: 100%;
    overflow: hidden;
}

.carousel {
    transform-style: preserve-3d;
}

.carousel-slide {
    position: absolute;
    top:0;
    transition: transform .5s, z-index .5s;
    z-index: 100;
    margin: auto;
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 100dvh;
}

.carousel-slide.initial,
.carousel-slide.active {
    position: relative;
    z-index: 900;
}

.carousel-slide.prev,
.carousel-slide.next {
    z-index: 800;
}

.carousel-slide.prev {
    transform: translateX(-100%);
}

.carousel-slide.next {
    transform: translateX(100%);
}

#slide1,
#slide2,
#slide3 {
    background-image: url(../images/mockup/banner.jpg);
    background-position: center;
    background-size: cover;
}

.prev-btn,
.next-btn {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 999;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.prev-btn {
    left:0;
}

.next-btn {
    right:0;
}

.prev-btn::after,
.next-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-right: .25rem solid white;
    border-bottom: .25rem solid white;
    width: 1rem;
    height: 1rem;
    content: "";
}

.prev-btn::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.next-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#buy-beer {
    background-image: url(../images/mockup/buy-beer.jpg);
}

#visit-us {
    background-image: url(../images/mockup/visit-us.jpg);
}

#merch {
    background-image: url(../images/mockup/merch.jpg);
}

#subs {
    background-image: url(../images/mockup/subs.jpg);
}

#mission {
    background-image: url(../images/mockup/mission.jpg);
}

#events {
    background-image: url(../images/mockup/events.jpg);
}

#about {
    background-image: url(../images/mockup/about.jpg);
}

.sticker {
    height: 10rem
}

#hours {
    background-image: url(../images/mockup/hours.jpg);
}

#where {
    background-image: url(../images/mockup/location.jpg);
}

#whats-on {
    background-image: url(../images/mockup/whats-on.jpg);
}

#pouring {
    background-image: url(../images/mockup/pouring.jpg);
}

#milson {
    background-image: url(../images/mockup/milson-hero.jpg);
}

.bg-milson {
    background-color: #4caa9c;
}

#sticker-milson {
    right: -2.5rem;
    bottom: -5.5rem;
}

.outline-milson {
    -webkit-text-stroke: 2px #4caa9c;
    text-shadow: 4px 4px 0 #4caa9c;
}

#smw {
    background-image: url(../images/mockup/smw-hero.jpg);
}

.bg-smw {
    background-color: #f13d52;
}

#sticker-smw {
    top: -2.25rem;
    left: -2.5rem;
}

.outline-smw {
    -webkit-text-stroke: 2px #f13d52;
    text-shadow: 4px 4px 0 #f13d52;
}

#football-friend {
    background-image: url(../images/mockup/football-hero.jpg);
}

.bg-football {
    background-color: #527b42;
}

#sticker-football {
    bottom: -1.75rem;
    right: -1.5rem;
}

.outline-football {
    -webkit-text-stroke: 2px #527b42;
    text-shadow: 4px 4px 0 #527b42;
}

@media only screen and (min-width: 640px) {
    .carousel-slide {
        aspect-ratio: 5/4;
    }
}

@media only screen and (min-width: 768px) {
    .md-row {
        flex-direction: row;
    }

    .md-space {
        margin-right: .5rem;
    }

    .md-tab {
        margin-left: .5rem;
    }

    #sticker-logo {
        display: initial;
        bottom: -4rem;
        left: 0;
        height: 16rem;
    }

    #sticker-namebadge {
        display: initial;
        bottom: -5rem;
        right: 1rem;
        height: 16rem;
    }

    .md-half {
        width: 50%;
    }

    .md-around {
        justify-content: space-between;
    }

    .md-thirtytwo {
        width: 32%;
    }

    #sticker-milson {
        right: -2.5rem;
        bottom: -5.75rem;
    }

    #sticker-smw {
        top: -2rem;
        left: -2.5rem;
    }

    #sticker-football {
        bottom: -1.75rem;
        right: -1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .lg-margin-auto {
        margin: 1rem auto
    }

    #sticker-logo {
        left: 10%;
    }

    #sticker-namebadge {
        right: 10%;
    }

    .lg-font-md {
        font-size: 1.5rem;
    }
}