/* navbar styling */
#navbar {
    height: 4rem;
    z-index: 99;
}

#menu-btn {
    border: none;
    width: 3rem;
    cursor: pointer;
}

.menu-bar {
    display: block;
    margin: .5rem 0;
    background-color: white;
    width: 100%;
    height: .25rem
}

#menu-btn:hover .menu-bar,
#menu-btn:focus .menu-bar {
    background-color: #66bfff;
}

#menu-btn:active .menu-bar {
    background-color: #5cace6;
}

#menu-btn.active .menu-bar:nth-child(1) {
    transform: translate(-1rem, .3rem) rotate(-45deg) scale(.5, 1);
}

#menu-btn.active .menu-bar:nth-child(3) {
    transform: translate(-1rem, -.3rem) rotate(45deg) scale(.5, 1);
}

#nav-logo {
    height: 4rem;
    width: 10rem;
    object-fit: cover;
}

/* dropdown styling */
#dropdown {
    left: -100vw;
    z-index: 98;
}

#dropdown.active {
    left: 0;
}

#dropdown .svg-btn {
    fill: #d82737;
}

#dropdown .svg-btn:hover,
#dropdown .svg-btn:focus {
    fill: #66bfff;
}

#dropdown .svg-btn:active {
    fill: #5cace6;
}

@media screen and (min-width: 640px) {
    #dropdown {
        width: fit-content;
    }
}